.footer__button {
  background-color: $mainColor;
  border: none;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 9.5px 5px;
  min-width: 80px;
}