.footer__input {
  width: 100%;
  box-sizing: border-box;
  background-color: $backgroundColor;
  padding: 7px 0 7px 11px;
  border: none;

  &:first-of-type {
    border-right: 1px solid $mainColor;
  }

  &::-webkit-input-placeholder {
    color: $mainColor;
    font-size: 9px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: $mainColor;
    font-size: 9px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: $mainColor;
    font-size: 9px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &::-ms-input-placeholder {
    color: $mainColor;
    font-size: 9px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &::placeholder {
    color: $mainColor;
    font-size: 9px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}